%big-number,
.big-number {
  display: block;

  &-number {
    @include bold-48($tabular-numbers: true);
    display: block;
  }

  &-label {
    @include core-19;
    display: inline-block;
    padding-bottom: 10px;
  }
}

.big-number-smaller {
  @extend %big-number;

  .big-number-number {
    @include bold-36($tabular-numbers: true);
  }
}

.big-number-smallest {
  @extend %big-number;

  .big-number-number {
    @include bold-24($tabular-numbers: true);
  }
}

.big-number-with-status {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 4px;
  margin-top: 2rem;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  .big-number-link {
    margin: 2rem;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }

  .big-number-label {
    display: none;
  }

  %big-number-status,
  .big-number-status {
    background-color: white;
    padding: 1rem;
  }
}
