.browse-list {
  margin-bottom: $gutter-half;

  .browse-sub-list {
    margin-top: $gutter-half;
    margin-left: $gutter;
    @include media('desktop') {
      margin-left: $gutter * 2;
    }
  }

  &-item,
  &-sub-item {
    @include core-large;
    @include core-strong;
    list-style: none;
    margin-bottom: $gutter-half;
  }

  &-link {
    @include core-large;
    @include core-strong;

    &-destructive {
      @include core-large;
      @include core-strong;
      color: $error-colour;

      &:visited,
      &:link {
        @include core-large;
        @include core-strong;
        color: $error-colour;
      }

      &:hover {
        color: $mellow-red;
      }
    }
  }

  &-hint {
    margin-top: 5px;
  }
}
