@mixin au-button() {
  @include core-medium;

  padding: 0.5rem 1.5rem;
  line-height: 1.5;
  display: inline-block;
  border-radius: 4px;
  box-shadow: none;
  background-color: #26374a;
  border: 3px solid #26374a;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;

  &:visited {
    background-color: #26374a;
  }

  &:focus,
  &:active,
  &:hover:not(:disabled) {
    outline: none;
    background-color: #444;
    border-color: #444;
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid #9263de;
    outline-offset: 2px;
  }
}

%secondary {
  background-color: transparent;
  color: #00698f;

  &:focus,
  &:active,
  &:hover:not(:disabled) {
    background-color: transparent;
    border-color: #313131;
    color: #313131;
  }
}

%button,
.button {
  @include au-button;

  &.secondary {
    @extend %secondary;
  }

  &.tertiary {
    @extend %secondary;
    border: none;
  }
}

%button-submit {
  background-color: #61daff;
  color: #135e70;

  &:active,
  &:hover:not(:disabled) {
    color: #135e70;
    border-color: #fff;
    background-color: #fff;
  }
}
