@mixin au-button($colour: $button-colour) {
  // overriding a bunch of stuff from govuk elements on .button:
  // https://github.com/alphagov/govuk_elements/blob/84f485f688e7f796a4c44dd73b17177e8e39538c/assets/sass/elements/_buttons.scss#L4

  @include core-medium;

  color: white;
  padding: 0.5rem 1.5rem;
  line-height: 1.5;
  display: inline-block;
  border-radius: 4px;
  box-shadow: none;
  background-color: $colour;
  border: 3px solid $colour;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;

  &:visited {
    background-color: $colour;
  }

  &:focus,
  &:active,
  &:hover:not(:disabled) {
    outline: none;
    background-color: darken($colour, 15%);
    border-color: darken($colour, 15%);
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid #9263de;
    outline-offset: 2px;
  }
}

@mixin au-button-secondary($colour: transparent, $content: $button-colour) {
  @include au-button($colour);
  color: $content;
  border-color: $content;

  &:focus,
  &:active,
  &:hover:not(:disabled) {
    border-color: darken($content, 15%);
    color: darken($content, 15%);
  }
}

@mixin au-button-error($colour: $error-colour) {
  @include au-button($colour);
}

%secondary {
  @include au-button-secondary;
}

%button,
.button {
  @include au-button;

  &.secondary {
    @extend %secondary;
  }

  &.tertiary {
    @extend %secondary;
    border: none;
  }
}

.button-secondary {
  @include au-button-secondary;
}

%button-submit {
  background-color: #61daff;
  color: #135e70;

  &:active,
  &:hover:not(:disabled) {
    color: #135e70;
    border-color: #fff;
    background-color: #fff;
  }
}
