.navigation {
  padding: 0 $gutter 0 0;

  &-service {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;

    &-name {
      @include core-strong;
      @include core-large;
      font-size: 2.8rem;
      margin: 0 0 0 0;
    }

    &-switch {
      @include core-small;
      &:focus {
        color: $text-colour;
      }
    }
  }

  li:first-child {
    border-top: 1px solid #d3d5d7;
  }

  li {
    @include core-small;
    margin: 0;
    padding: 1rem 2rem;
    list-style-type: none;
    border-bottom: 1px solid #d3d5d7;
  }

  .au-navitem--active {
    border-left: 4px solid #006f99;
    background-color: #e9f6f9;

    a {
      @include core-strong;
    }
  }

  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $text-colour;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

    &:focus {
      color: $text-colour;
    }
  }
}

// https://github.com/alphagov/product-page-example/blob/master/source/stylesheets/modules/_sub-navigation.scss
.sub-navigation {
  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include core-small;

    border-bottom: 1px $grey-3 solid;
    display: block;
    padding: $gutter-one-third 0;

    a:link {
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  &__item--active {
    @include core-strong;

    a:link,
    a:visited {
      color: $text-colour;
    }
  }
}
