.file-list-filename.file-list-filename {
  display: inline-block;
  padding: 0;
  margin: 0;
}

$text-colour: black;
$text-light: 300;
$text-normal: 400;
$text-semibold: 500;
$text-bold: 700;

@mixin core-font() {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@mixin core-typography() {
  @include core-font;
  font-size: 1.9rem;
  color: #0B0C0C;
  line-height: 1.6;
  font-weight: $text-normal;
}

body,
main {
  @include core-typography;
}

.heading-small,
.heading-large,
.heading-medium,
.message-name.message-name,
table th,
table td,
.table-font-xsmall td {
  @include core-font;
}

// core-16
@mixin core-small() {
  font-size: 1.6rem;
}

// core-19
@mixin core-medium() {
  font-size: 1.9rem;
}

// core-24
@mixin core-large() {
  font-size: 2.4rem;
}

// core-27
@mixin core-xlarge() {
  font-size: 2.7rem;
}

// core-36
@mixin core-xxlarge() {
  font-size: 3.6rem;
}

// core-48
@mixin core-huge() {
  font-size: 4.8rem;
}

@mixin core-strong() {
  font-weight: $text-bold;
}
