.page-footer {

  margin-bottom: 30px;

  &-back-link {
    @include au-button-secondary;
    display: inline-block;

    @include media('mobile') {
      box-sizing: border-box;
      width: 100%;
      margin-top: $gutter-half;
      text-align: center;
    }

  }

  &-delete-link {

    line-height: 40px;
    padding: 1px 0 0 15px;

    a {

      &:visited,
      &:link {
        color: $error-colour;
        display: inline-block;
        vertical-align: center;
      }

      &:hover,
      &:active {
        color: $mellow-red;
      }

    }

  }

  &-delete-link-without-button {
    padding-left: 0;
    display: inline-block;
  }

  &-secondary-link {
    display: block;
    margin-top: $gutter;
  }

  .button,
  .button-destructive {
    margin-right: 10px;
  }

  .button-destructive {
    @include au-button-error;
  }

}

.align-button-with-textbox {

  .button {

    @include media(desktop) {
      position: relative;
      top: 32px;
      left: -30px;
      width: 100%;
      margin-right: -30px;
      padding-top: 8px;
      box-sizing: content-box;
    }

  }

}
