.pill {
  display: flex;
  list-style-type: none;
  border-bottom: 6px solid #f6f5f6;

  a,
  &-selected-item {
    text-decoration: none;
  }

  li {
    flex: 1;
    text-align: left;
    padding: 2rem 0;
    margin-bottom: -6px;

    &[aria-selected='true'] {
      border-bottom: 6px solid #017099;
    }
  }
}

.pill-separate-item {
  color: $white;
  padding: 0.5rem 1.5rem;
  display: block;
  border-radius: 4px;
  box-shadow: none;
  background-color: #00698f;
  border: 3px solid #00698f;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;

  &:link,
  &:visited {
    color: $white;
  }
}
