.pill {
  display: flex;
  list-style-type: none;
  border-bottom: 6px solid #f6f5f6;

  a,
  &-selected-item {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    flex: 1;
    text-align: left;
    padding: 2rem 0;
    margin-bottom: -6px;

    &[aria-selected='true'] {
      border-bottom: 6px solid #017099;
    }
  }
}

// Looks like a button but include is not enough.
// Needs to forcefully override a bunch of stuff from base uk stylesheet
.pill-separate-item {
  @include au-button(#00698f);
  color: $white;
  display: block;
  background-color: #00698f;
  border: 3px solid #00698f;
  vertical-align: middle;

  &:link,
  &:link:focus,
  &:visited {
    color: $white;
  }
}
