{% from "components/banner.html" import banner_wrapper %}

{% macro nav_item(href, link) -%}
  <li class="au-navitem {{ "au-navitem--active" if request.path == href }}">
    <a href="{{ href }}" >{{ link }}</a>
  </li>
{%- endmacro %}

{% if help %}
  {% call banner_wrapper(type='tour') %}
      <p class="heading-medium">Try sending yourself this example</p>
      <div class="grid-row bottom-gutter {% if help != '1' %}greyed-out-step{% endif %}">
        <div class="column-one-sixth">
          <p class="heading-large" style="float: left;">1.</p>
        </div>
        <div class="column-five-sixths">
          <p>
            Every message is sent from a template
          </p>
        </div>
      </div>
      <div class="grid-row bottom-gutter {% if help != '2' %}greyed-out-step{% endif %}">
        <div class="column-one-sixth">
          <p class="heading-large">2.</p>
        </div>
        <div class="column-five-sixths">
          <p>
            The template pulls in the data you provide
          </p>
        </div>
      </div>
      <div class="grid-row bottom-gutter {% if help != '3' %}greyed-out-step{% endif %}">
        <div class="column-one-sixth">
          <p class="heading-large">3.</p>
        </div>
        <div class="column-five-sixths">
          <p>
            Notify delivers the message
          </p>
          {% if help == '3' %}
            <a href='{{ url_for(".go_to_dashboard_after_tour", service_id=current_service.id, example_template_id=template.id) }}'>
              Now go to your dashboard
            </a>
          {% endif %}
        </div>
      </div>

  {% endcall %}
{% else %}

<nav class="navigation au-navigation">
  <ul>
  {{ nav_item(url_for('.service_dashboard', service_id=current_service.id), 'Service overview') }}
  {% if current_user.has_permissions('view_activity') %}
    {{ nav_item(url_for('.choose_template', service_id=current_service.id), 'Templates') }}
  {% endif %}
  {{ nav_item(url_for('.manage_users', service_id=current_service.id), 'Team members') }}
  {% if current_user.has_permissions('manage_service') %}
    {{ nav_item(url_for('.usage', service_id=current_service.id), 'Usage') }}
  {% endif %}
  {% if current_user.has_permissions('manage_api_keys', 'manage_service') %}
    {{ nav_item(url_for('.service_settings', service_id=current_service.id), 'Settings') }}
  {% endif %}
  {% if current_user.has_permissions('manage_api_keys') %}
    {{ nav_item(url_for('.api_integration', service_id=current_service.id), 'API integration') }}
  {% endif %}
  </ul>
</nav>
{% endif %}
