{% if show_sender %}
  <p class="sms-message-sender">
    From: {{ sender }}
  </p>
{% endif %}
{% if show_recipient %}
  <p class="sms-message-recipient">
    To: {{ recipient }}
  </p>
{% endif %}
<div class="sms-message-wrapper">
  {{ body }}
</div>
