bleach==2.1.2
html5lib==1.0b10 # pyup: <= 1.0b10
mistune==0.8.1
requests==2.18.4
python-json-logger==0.1.8
Flask>=0.12.2
orderedset==2.0
Jinja2==2.10
statsd==3.2.1
Flask-Redis==0.3.0
boto3==1.4.7
pyyaml==3.12
phonenumbers==8.8.7
pytz==2017.3
# fork of smartypants with improved regex performance
regex==2017.11.9
git+https://github.com/leohemsted/smartypants.py.git@regex-speedup#egg=smartypants==2.1.0
