<style media="print">

  #mdi,
  #barcode,
  #qrcode {
    display: none;
  }

  @page :first {
    @top-left-corner {
        content: 'NOTIFY';
        color: white;
        font-family: 'arial';
        font-size: 6pt;
    }
  }
</style>
