{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}
{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">Roadmap</h1>
    <p>The Notify roadmap shows the things we’re working on and when we hope to have them ready for you to use.</p>
    <p>Notify is in public beta. This means it’s fully operational and supported, but we’re still adding new features. The roadmap is a guide to what we have planned, but some things might change.</p>
    <p>You can <a href="{{url_for('.feedback', ticket_type='ask-question-give-feedback')}}">contact us</a> if you have any questions about the roadmap or suggestions for new features.</p>

    <h2 class="heading-medium">October to December 2019</h2>
    <ul class="list list-bullet">
        <li>Explore future procurement opportunities across text message and email providers to provide competitive pricing creating greater savings to users and government</li>
        <li>Accept inbound messages from a user and surface that through an API and through the dashboard</li>
        <li>Refine onboarding and offboarding processes</li>
        <li>Enforce password rotation, ensure user has access to email address</li>
        <li>Complete further security and privacy assessments</li>
    </ul>

    <h2 class="heading-medium">January to March 2020</h2>
    <ul class="list list-bullet">
        <li>Validate compliance to modern internet standards</li>
        <li>Provide visibility of Notify’s system performance</li>
        <li>Enhance branding customisation for users on email messages</li>
        <li>Provide guidance on planning and writing text messages and emails</li>
        <li>Investigate and provide users enhanced scheduling ability for sending messages</li>
        <li>Enhance technical documentation for efficient user integration</li>
        <li>Provide users with greater visibility including audit and reporting information</li>
        <li>Implement a support management system for 24/7 support</li>
        <li>Investigate exposing REST API and providing standard specification to allow interoperability</li>
        <li>Investigate supporting a wider range of software development kits and languages to make it easier for users to integrate</li>
    </ul>

    <h2 class="heading-medium">April to June 2020</h2>
    <ul class="list list-bullet">
        <li>Addition of sending files by email using encrypted links</li>
        <li>Complete a Discovery and assess the addition of letters to Notify</li>
        <li>Investigate Single Sign On for authentication</li>
    </ul>

    <h2 class="heading-medium">July 2020 onwards</h2>
    <ul class="list list-bullet">
        <li>Link shortening service</li>
        <li>Two-factor authentication for accessing files sent by email</li>
        <li>Specify an expiry period for undeliverable text messages</li>
        <li>Distribute the delivery of a batch of messages over several hours</li>
        <li>scalability and performance improvements (message queue)</li>
    </ul>
  </div>
</div>

{% endblock %}
