{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}
{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">Roadmap</h1>
    <p>We haven’t published our roadmap yet. Please <a href="{{url_for('.feedback', ticket_type='ask-question-give-feedback')}}">contact us</a> for more information, or to suggest something else you’d like Notify to offer.</p>
  </div>
</div>

{% endblock %}
