{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">{{ title }}</h1>
    <p>We regularly ask users to change their passwords for enhanced protection. Please create a new password below (minimum 13 characters).</p>
    <form method="post" autocomplete="off">
      {{ textbox(
        form.new_password,
        label='New password',
        autofocus=True
      ) }}
      {{ page_footer('Continue') }}
    </form>
  </div>
</div>

{% endblock %}
