{% extends "withoutnav_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  Security
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-large">Security</h1>
    <p>Notify is built for the needs of government services. It has processes in place to:</p>
    <ul class="list list-bullet">
      <li>protect user data</li>
      <li>keep systems secure</li>
      <li>manage risks around information</li>
    </ul>

    <h2 class="heading-medium">Data</h2>
    <p>On Notify, data is encrypted:</p>
    <ul class="list list-bullet">
      <li>when it passes through the service</li>
      <li>when it’s stored on the service</li>
    </ul>
    <p>Any user data you upload is only held for 7 days.</p>
    <h3 class="heading-small">Data Protection Act</h3>
    <p>Notify complies with the Data Protection Act. To make sure it stays compliant, there are regular legal reviews of the service’s:</p>
    <ul class="list list-bullet">
      <li>privacy policy</li>
      <li>terms of use</li>
      <li>approach to data sharing</li>
    </ul>

    <h2 class="heading-medium">Technical security</h2>
    <p>Other technical security controls on Notify include:</p>
    <ul class="list list-bullet">
      <li>protective monitoring to record activity, and raise alerts about any suspicious activity</li>
      <li>using JSON Web Tokens, to avoid sending API keys when your service talks to Notify</li>
    </ul>
    
    <h3 class="heading-small">Protect sensitive information</h3>
    <p>Some messages include sensitive information like security codes or password reset links.</p>
    <p>If you’re sending a message with sensitive information, you can choose to hide those details on the Notify dashboard once the message has been sent. This means that only the message recipient will be able to see that information.</p>
    
    <h2 class="heading-medium">User permissions and signing in</h2>
    <p>You can set different user permissions in Notify. This lets you control who in your team has access to certain parts of the service.</p>
    <h3 class="heading-small">Two-factor authentication</h3>
    <p>To sign in to Notify, you’ll need to enter:</p>
    <ul class="list list-bullet">
      <li>your email address and password</li>
      <li>a text message code that Notify sends to your phone</li>
    </ul>
    <p>If receiving text messages at work is a problem for your team, contact us about using an email link instead.</p>

    <h2 class="heading-medium">How we manage risks on Notify</h2>
    <p>Things we do to manage risks on Notify include:</p>
    <ul class="list list-bullet">
      <li>regular updates to the Privacy Impact Assessment</li>
      <li>security impact assessments</li>
    </ul>

{% endblock %}
