{% extends "fullwidth_template.html" %}

{% block header_sign_in_out %}
{% endblock %}

{% block inside_header %}
  <div class="product-page-intro">
    <div class="product-page-intro-wrapper override-elements-content" id="content">	
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1>
            Send emails and text messages to your users
          </h1>
          <p>
            Try Notify now if you work in Canadian government.
          </p>
          <div class="button-container">
            <a class="button" href='{{ url_for('.register' )}}'>
              Create an account
            </a>
            <a class="button secondary" href='{{ url_for('.sign_in' )}}'>
                Sign in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block meta %}
  <meta name="description" content="Notify.gov.au lets you send emails and text messages to your users. Try it now if you work in Australian local, state or federal government.">
{% endblock %}

{% block page_title %}
  Notify.gov.au
{% endblock %}

{% block maincolumn_content %}
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <h2>
          Control your content
        </h2>
        <p>
          You don’t need any technical knowledge to create email,
          text message or letter templates.
        </p>
      </div>
      <div class="column-half">
        <img src="/static/images/product/01-templates.svg" alt="">
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <h2>
          See how your messages perform
        </h2>
        <p>
          Track how many messages you’ve sent and
          find out which ones aren’t getting delivered.
        </p>
      </div>
      <div class="column-half">
        <img
          src="/static/images/product/02-reporting.svg"
          alt="A screenshot of Notify showing counts of emails and text messages sent"
        >
      </div>
    </div>
  </div>

  <div class="product-page-section">
    <h2 class="with-keyline">
      Send messages manually or automatically
    </h2>
    <div class="grid-row">
      <div class="column-half">
        <p>
          Upload a spreadsheet of email addresses or
          phone numbers and Notify sends the messages.
        </p>
        <img
          src="/static/images/product/03-spreadsheet.svg"
          alt="A screenshot of a spreadsheet with columns for email address, name and colour"
        >
      </div>
      <div class="column-half">
        <p>
          Integrate the Notify API with your web application or
          back office system.
        </p>
        <img
          src="/static/images/product/04-api.svg"
          alt="A screenshot of some computer code with a notify.send_email function"
        >
      </div>
    </div>
  </div>

  <div class="product-page-section">
      <div class="with-keyline bottom-gutter-2">
          <h2>Help us shape Notify</h2>
          <div class="grid-row bottom-gutter">
              <div class="column-half">
                  <p>
                  Notify is an online notifications service that provides
                  government entities the capability to
                  send emails and text messages to their users.
                  </p>
              </div>
              <div class="column-half">
                  <p>
                  Notify is currently in a Beta testing stage.
                  We are inviting agencies to trial the service. 
                  <a href='{{ url_for('.support')}}'>Feedback</a>
                  collected during this trial will help us make improvements.
                  </p>
              </div>
          </div>
      </div>
  </div>

  <div class="product-page-section">
   <div class="with-keyline bottom-gutter-2">
      <h2>Who’s using Notify</h2>

      <div class="grid-row bottom-gutter">
        <div class="column-half">
          <h3 class="visually-hidden">Services</h3>
          <div class="product-page-big-number">16</div>
          Federal government
        </div>
        <div class="column-half">
          <h3 class="visually-hidden">Organisations</h3>
          <div class="product-page-big-number">1</div>
          State and Territory government
        </div>
      </div>

      <div class="grid-row bottom-gutter">
        <div class="column-half">
          <h3 class="visually-hidden">Services</h3>
          <div class="product-page-big-number">2</div>
          Local government
        </div>
        <div class="column-half">
          <h3 class="visually-hidden">Organisations</h3>
          <div class="product-page-big-number">2</div>
          Other government bodies
        </div>
      </div>
    </div>
  </div>

  <div class="product-page-section">
    <div class="with-keyline bottom-gutter-2">
      <h2>Pricing</h2>
      <div class="grid-row bottom-gutter">
        <div class="column-half">
          <div class="product-page-big-number">No setup cost</div>
          There’s no monthly charge, no setup fee and no procurement
          process.<br>
          <p>For more information, see our <a href='{{ url_for('.pricing')}}'>pricing</a></p>
        </div>
        <div class="column-half">
          <h3 class="visually-hidden">Emails</h3>
          <div class="product-page-big-number">Unlimited email</div>
          It's free to send email through Notify.
        </div>

      </div>

      <div class="grid-row bottom-gutter">

        <div class="column-half">
          <h3 class="visually-hidden">Text messages</h3>
          <div class="product-page-big-number">25,000 messages</div>
          While in Beta, you have a free allowance of text messages each
          financial year.
        </div>

      </div>
    </div>
  </div>

  <div class="product-page-section">
    <div class="with-keyline bottom-gutter-2">
      <h2>The team</h2>
        <div class="grid-row">
          <div class="column-half">
            <p>
            Notify is maintained by the Digital Transformation Agency
            and is supported during business hours.
            </p>
            <p>
            <a href="{{ url_for('main.support') }}">Contact the team</a> if you have a question or want
            to give feedback.
            </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
