{% from "components/table.html" import mapping_table, row, text_field, field, row_heading %}

{% extends "withoutnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
Terms of use
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-one-third">
    {{ sub_navigation(navigation_links) }}
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">Terms of use</h1>
    <h2 class="heading-medium" id="introduction">
      Introduction
    </h2>
    <p>
      Notify is the online notifications service offered by the Digital
      Transformation Agency (DTA), that provides government entities the
      capability to send emails and text messages to their users. Notify is
      currently in a Beta testing stage.
    </p>
    <p>
      A notification typically takes the form of status updates, requests for
      action, acknowledgement of receipt of applications or supporting
      information, and reminders. Notify makes it easier to keep people updated,
      by helping service teams across government send text messages and emails
      to their users.
    </p>
    <p>
      Government entities will continue to collect, manage and control their
      users’ contact information and preferences. Notify simply processes the
      notification to users of the service at the request of the service team.
      Notify is not a contact database for Australian citizens.
    </p>
    <h2 class="heading-medium" id="terms">Terms</h2>
    <p>
      The purpose of these DTA Terms of Use is to set out the terms on which
      service teams can subscribe and use Notify and will govern all access to
      and use of Notify. These terms apply to your service’s use of Notify. You
      must have the appropriate authorisation to accept them.
    </p>
    <p>
      By accessing Notify, you agree to be bound by these Terms of Use. If you
      do not agree to be bound by all these Terms of Use, do not access or use
      Notify.
    </p>
    <p>
      By accepting the Terms of Use, you must:
    </p>
    <ul class="list list-bullet">
      <li>
        complete and provide your organisation’s information assurance processes
      </li>
      <li>
        inform us immediately of any security breaches
      </li>
      <li>keep your API keys secure</li>
      <li>
        get the right levels of consent (to send messages and to use data)
      </li>
      <li>
        not send unsolicited messages, only ones related to the transaction or
        relevant information the user has subscribed to (as per the
        <a href="https://www.legislation.gov.au/Series/C2004A01214"
          >Spam Act 2003</a
        >)
      </li>
      <li>
        send messages that adhere to the
        <a
          href="https://www.dta.gov.au/help-and-advice/about-digital-service-standard"
          >Digital Service Standard</a
        >
      </li>
      <li>
        not send messages containing any personally or commercially sensitive
        information
      </li>
      <li>
        check that the data you add to Notify is accurate and complies with
        relevant Australian data laws and principles
      </li>
    </ul>
    <p>
      If you <strong>don’t</strong> keep to these terms, we may cancel your
      subscription and your messages may not be sent.
    </p>
    <p>Notify will:</p>
    <ul class="list list-bullet">
      <li>
        send all the messages provided that they meet the terms of use
      </li>
      <li>
        show how Notify is performing through our
        <a href="https://status.notify.gov.au/">status</a>
        page
      </li>
      <li>keep your data secure</li>
      <li>
        give one month’s notice, by email, if we change our Terms of Use or
        delivery providers
      </li>
    </ul>
    <p>
      The DTA may change these Terms of Use from time to time and will advise
      users of any changes by email or telephone.
    </p>
    <p>
      If you have any questions or feedback about these Terms of Use, please
      <a href="mailto:notify-support@dta.gov.au">contact us</a>.
    </p>
    <h2 class="heading-medium" id="subscribe">Subscribe</h2>
    <p>
      The Notify service is open to Commonwealth, State, Territory and Local
      government bodies.
    </p>
    <h3 class="heading-small">Trial mode</h3>
    <p>
      You can set up a trial account and start using Notify immediately.<br />
      In trial mode you can:
    </p>
    <ul class="list list-bullet">
      <li>
        only send messages to yourself
      </li>
      <li>
        add people to your team, then you can send messages to them too
      </li>
      <li>
        only send 50 messages per day
      </li>
    </ul>
    <h3 class="heading-small">Go live</h3>
    <p>
      You can request to go live, when you have:
    </p>
    <ol class="list list-number">
      <li>
        Accepted our terms of use
      </li>
      <li>
        Have more than one team member with the ‘Manage service’ permission
      </li>
      <li>
        Create templates showing the kind of messages you plan to send
      </li>
    </ol>
    <h2 class="heading-medium" id="features">Features</h2>
    <p>With Notify, you can:</p>
    <ul class="list list-bullet">
      <li>send emails</li>
      <li>
        send and receive text messages (Australia and internationally)
      </li>
      <li>
        create messages and templates quickly and easily
      </li>
      <li>customise your branding</li>
      <li>
        send messages in bulk or individually
      </li>
      <li>track your activity</li>
      <li>manage your team</li>
      <li>send messages reliably</li>
    </ul>
    <p>
      You don’t need any technical knowledge to use Notify. See our
      <a href="/features">features</a> page to find out more.
    </p>
    <h2 class="heading-medium" id="training">Training</h2>
    <p>
      The DTA may provide training sessions for service teams and team leaders
      at the request of a service. These training sessions can be conducted
      online, at a DTA office, or at another venue depending on staff
      availability and location.
    </p>
    <h2 class="heading-medium" id="support">Support</h2>
    <p>
      The DTA will provide support during business hours 9am-5pm (local Sydney
      time) Monday to Friday, excluding NSW public holidays.
    </p>
    <p>
      We will give you our level 1 support mobile phone number when we approve
      your transition from a trial account to a live account.
    </p>
    <p>
      All support is subject to DTA resourcing constraints.
    </p>
    <h2 class="heading-medium" id="fees">Fees</h2>
    <p>
      See our
      <a href="/pricing">pricing</a> page to find out more.
    </p>
    <h2 class="heading-medium" id="security">Security</h2>
    <p>
      Notify is built for the needs of government services. It has processes in
      place to:
    </p>
    <ul class="list list-bullet">
      <li>protect user data</li>
      <li>keep systems secure</li>
      <li>
        manage risks around information
      </li>
    </ul>
    <p>
      System administrators of Notify have, at a minimum, a Baseline Level
      security clearance as issued by the Australian Government Security Vetting
      Agency.
    </p>
    <p>
      <a href="mailto:notify-support@dta.gov.au">Contact us</a> to request a
      copy of the Notify penetration test summary.
    </p>
    <h3 class="heading-small">
      Permissions and two-factor authentication
    </h3>
    <p>
      You can set different user permissions in Notify to control who in your
      team has access to certain parts of the service.
    </p>
    <p>
      Notify uses two-factor authentication. To sign in to Notify, you’ll need
      to enter:
    </p>
    <ul class="list list-bullet">
      <li>
        your government email address and your Notify password
      </li>
      <li>
        a text message code that Notify sends to your mobile phone
      </li>
    </ul>
    <h3 class="heading-small">Open source</h3>
    <p>
      In line with the Digital Service Standard, all code behind Notify is open
      source and available on
      <a href="https://github.com/govau/notify">our GitHub repository</a>.
      Notify uses JSON Web Tokens, so API keys aren’t sent over the wire.
    </p>
    <h3 class="heading-small">How we manage risks on Notify</h3>
    <p>
      Things we do to manage risks on Notify include:
    </p>
    <ul class="list list-bullet">
      <li>regular privacy reviews</li>
      <li>security impact assessments</li>
    </ul>
    <h3 class="heading-small">Raising issues</h3>
    <p>
      Anyone can raise an issue for Notify. You can
      <a href="mailto:notify-support@dta.gov.au">contact us</a> us to:
    </p>
    <ul class="list list-bullet">
      <li>report a bug</li>
      <li>request a feature</li>
      <li>raise a security concern</li>
    </ul>
    <p>
      Our service standard to responding to raised issues is 48 hours. We will
      endeavour to address critical issues as soon possible, dependent on
      resourcing restraints.
    </p>
    <h2 class="heading-medium" id="privacy-and-data-controls">
      Privacy and data controls
    </h2>
    <p>
      In Notify, your organisation is the data controller and the DTA the data
      processor. Both parties are legally responsible for compliance with the
      Privacy Act 1988 (Cth) and other relevant legislation.
    </p>
    <p>In Notify:</p>
    <ul class="list list-bullet">
      <li>
        data is encrypted in transit
      </li>
      <li>
        any user user data you upload is encrypted at rest
      </li>
    </ul>
    <p>
      Any user data you upload is only held for 7 days, after which time it will
      be deleted.
    </p>
    <p>Notify complies with:</p>
    <ul class="list list-bullet">
      <li>
        the obligations under the Privacy Act 1988 (Cth)
      </li>
      <li>
        Australian Government Agencies
        <a
          href="https://www.oaic.gov.au/privacy-law/australian-government-agencies-privacy-code/"
          >Privacy Code</a
        >
      </li>
    </ul>
    <h3 class="heading-small">Protect sensitive information</h3>
    <p>
      Notify makes a copy of messages you send available through the dashboard
      for 7 days after sending.
    </p>
    <p>
      Messages that you send may include sensitive information like security
      codes or password reset links. They may also include personal information.
    </p>
    <p>
      If you’re sending a message with sensitive information or personal
      information, you can choose to hide those details from view through the
      Notify dashboard. This means that only the message recipient will be able
      to see that information, while service team users of Notify will not.
    </p>
    <p>
      You can read more about your obligations for managing personal information
      on the
      <a href="https://www.oaic.gov.au/"
        >website for the Office of the Australian Information Commissioner.</a
      >
    </p>
    <h2 class="heading-medium" id="leaving-notify">Leaving Notify</h2>
    <p>
      You can leave Notify at any time. Just
      <a href="mailto:notify-support@dta.gov.au">contact us</a> and we will
      close your account.
    </p>
    <p>
      If you decide to leave, we will delete all your data from Notify.
    </p>
    <h2 class="heading-medium" id="termination">Termination</h2>
    <p>
      The DTA can terminate Notify at any time and for any reason by providing
      30 days notice to your organisation’s technical representative.
    </p>
    <p>
      If the DTA terminates Notify, the DTA will work cooperatively with your
      organisation to offboard your service.
    </p>
  </div>
</div>

{% endblock %}
