{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios, branding_radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer, sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Set email branding
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    'Set email branding',
    back_link=url_for('.service_settings', service_id=current_service.id)
  ) }}
  {% call form_wrapper() %}
    <div class="grid-row">
      <div class="column-full preview-pane">
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        {{ radios(form.branding_type) }}
        {{ branding_radios(form.branding_style, branding_dict=branding_dict) }}
      </div>
    </div>
    {{ sticky_page_footer('Save') }}
  {% endcall %}

{% endblock %}
