{% extends "withoutnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  Support
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">Support</h1>

    <form method="post" class="bottom-gutter-2">
      {{ radios(form.support_type) }}
      {{ page_footer('Continue') }}
    </form>
    <p>If something's wrong, you can <a href="https://status.notify.gov.au">check the Notify system status page</a> to see if we're already aware of it.</p>

    <p>Or you can <a href="https://ausdta.slack.com/messages/notify" target="_blank" rel="noopener noreferrer">get in touch with us on Slack</a>.</p>

    <h3 class="heading-small">Support times</h3>
    <p>Our office hours are 9:30am to 5:00pm, Monday to Friday.</p>


    <h3 class="heading-small">Out-of-hours</h3>
    <p>During Alpha we do not provide out-of-hours support.</p>
  </div>
</div>

{% endblock %}
