.product-page {
  &-intro {
    margin: 3rem 0 2rem;
    background: $govuk-blue;
    background: #313131;
    color: $white;

    &-wrapper {
      @extend %site-width-container;
    }

    h1 {
      @include core-strong;
      @include core-huge;
      margin: 20px 0 0 0;
      line-height: 1.2;
    }

    p {
      @include core-large;
      margin: $gutter-half 0 $gutter * 1.5;
      line-height: 1.4;
    }

    .button-container {
      line-height: 45px;

      .button + .button {
        margin-top: 10px;

        @media (min-width: 641px) {
          margin-top: 0;
        }
      }
    }

    .button {
      border-color: #61daff;
      background: #61daff;
      color: #313131;
      margin-right: 15px;

      &:link,
      &:visited,
      &:hover {
        color: #313131;
      }

      &:hover {
        background: white;
        border-color: white;
      }

      &.secondary {
        color: #61daff;
        background: transparent;

        &:focus,
        &:link,
        &:visited,
        &:hover {
          color: #61daff;
          border-color: #61daff;
        }

        &:hover {
          border-color: #61daff;
          background: transparent;
        }
      }
    }

    a {
      &:link,
      &:visited {
        color: $white;
      }

      &:hover,
      &:active {
        color: $light-blue-25;
      }
    }
  }

  &-section {
    @extend %site-width-container;
    margin-top: $gutter * 2;
    margin-bottom: $gutter * 2;

    h2 {
      @include core-strong;
      @include core-xlarge;
      margin: 0 0 $gutter;
    }

    .with-keyline {
      border-top: 1px solid $border-colour;
      padding: $gutter * 1.5 0 0 0;
    }

    img {
      width: 100%;
    }
  }

  &-big-number {
    @include core-strong;
    @include core-responsive-huge;
    // @include bold-48($tabular-numbers: true);
    margin: 0 0 0 0;
  }
}
