[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notifications-utils = {editable = true,path = "."}
itsdangerous = "==1.1.0"
flask = "~=1.1.1"

[dev-packages]
bandit = "==1.5.1"
pytest = "==3.6.4"
pytest-mock = "*"
pytest-cov = "*"
pytest-xdist = "==1.22.2"
requests-mock = "*"
freezegun = "*"
"flake8" = "*"
pyyaml = ">=4.2b4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
