[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notifications-utils = {editable = true,path = "."}
itsdangerous = "==1.1.0"
urllib3 = ">=1.24.2"

[dev-packages]
bandit = "==1.5.1"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
requests-mock = "*"
freezegun = "*"
"flake8" = "*"
pyyaml = ">=4.2b4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
