/* govuk_frontend_toolkit includes */
#global-header .header-wrapper:after,
#global-header .header-wrapper .header-global:after,
#global-header .header-wrapper .header-global .header-logo:after,
#global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after,
#footer .footer-meta:after {
  content: "";
  display: block;
  clear: both;
}

#global-header .header-wrapper .header-global .header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 769px) {
    padding: 0;
  }

  @media (min-width: 1020px) {
    margin-left: 1.5rem;
  }
}

#global-header .header-wrapper .header-global .header-logo #logo img {
  display: none;

  @media (min-width: 769px) {
    display: initial;
  }
}

#global-header .header-wrapper:after,
#global-header .header-wrapper .header-global:after,
#global-header .header-wrapper .header-global .header-logo:after,
#global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after,
#footer .footer-meta:after {
  content: "";
  display: block;
  clear: both;
}

/* local styleguide includes */
@-ms-viewport {
  width: device-width;
}

html,
body,
button,
input,
table,
td,
th {
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

div#global-cookie-message {
  padding: 1rem;
  width: initial;
}

#global-header-bar {
  margin: 0;
  height: 6px;
  width: 100%;
  max-width: 100%;
  background-color: #005ea5;

  @media (min-width: 641px) {
    margin: 0 30px;
  }
  @media (min-width: 1020px) {
    margin: 0 auto;
  }
}

#global-cookie-message p {
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin: 0;
  max-width: 1020px;
  margin: 0 0.5rem;

  @media (min-width: 641px) {
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: 769px) {
    margin-left: 2rem;
  }

  @media (min-width: 1020px) {
    margin: 0 auto;
    max-width: 950px;
  }
}

.product-page-intro h1 {
  font-size: 3rem;

  @media (min-width: 769px) {
    font-size: 4.8rem;
    margin-top: 2rem;
  }
}

.header-wrapper .grid-row {
  margin: 0;

  @media (min-width: 1020px) {
    margin-left: 2rem;
  }
}

.header-wrapper .column-two-thirds {
  padding: 0;

  @media (min-width: 641px) {
    width: 100%;
  }

  @media (min-width: 769px) {
    padding: 0 3rem;
    width: 78%;
  }

  @media (min-width: 1020px) {
    width: 67%;
  }
}

.button-container > :first-child {
  margin-bottom: 0.5rem;
}

main {
  display: block;
}

#content,
.global-cookie-message p,
.breadcrumbs,
.product-page-intro-wrapper,
.product-page-section {
  max-width: 1020px;
}

main .product-page-section {
  margin: 3rem 1.5rem;

  @media (min-width: 641px) {
    margin: 3rem 1.5rem;
  }

  @media (min-width: 769px) {
    margin: 3rem;
  }

  @media (min-width: 1020px) {
    margin: 5rem auto;
  }
}

main .product-page-section .grid-row {
  @media (min-width: 1020px) {
    margin: 2rem;
  }
}

#content {
  @media (min-width: 1020px) {
    padding-bottom: 6rem;
  }
}

#content .navigation-service,
#content main:not(.column-three-quarters) {
  padding: 0 1.5rem;
  margin-right: 0;

  @media (min-width: 641px) {
    margin: 0;
    padding: 0 1.5rem;
  }

  @media (min-width: 769px) {
    margin-left: 2rem;
  }
}

#content .navigation-service {
  padding-top: 2rem;
}

.au-navigation {
  @media (min-width: 641px) {
    padding-right: 0;
  }

  @media (min-width: 769px) {
    margin-left: 2.5rem;
  }
}

#content div.grid-row main.column-three-quarters {
  margin: 0 1.5rem;

  @media (min-width: 641px) {
    margin: 0;
  }
}

.product-page-section .with-keyline {
  @media (min-width: 1020px) {
    padding-left: 3.5rem;
  }
}

.group:before,
.group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.content-fixed {
  top: 0;
  position: fixed;
}

.shim {
  display: block;
}

/*
 * 1. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */
  background-color: #dee0e2;
}

/*
  Force the scrollbar to always display in IE10/11
 */
html {
  -ms-overflow-style: scrollbar;
}

body {
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ol,
nav ul {
  list-style: inherit;
}

fieldset {
  border: none;
  padding: 0;
}

a:link {
  color: #005ea5;
}

a:visited {
  // color: #4c2c92;
}

a:hover {
  color: #2b8cc4;
}

a:active {
  color: #2b8cc4;
}

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 *    note - font-size reduced to 62.5% to allow simple rem/px font-sizing and fallback
 *    http://snook.ca/archives/html_and_css/font-size-with-rem
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 */
html {
  font-size: 62.5%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 3 */
}

/*
 * 1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 * 2. Addresses margins handled incorrectly in IE6/7
 */
body {
  font-size: 160%;
  /* 1 */
  margin: 0;
  /* 2 */

  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

b,
strong {
  font-weight: 600;
}

img {
  border: 0;
}

abbr[title] {
  cursor: help;
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers */
.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders */
.visually-hidden,
.visuallyhidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /*
   * Extends the .visuallyhidden class to allow the element to be
   * focusable when navigated to via the keyboard
   */
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Give a strong clear visual idea as to what is currently in focus */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:focus {
  background-color: #61daff;
  outline: 3px solid #61daff;
}

/* Make links slightly darker when focused to improve contrast. */
a:link:focus {
  color: #005798;
}

/* Make skiplinks visible when they are tabbed to */
.skiplink {
  position: absolute;
  left: -9999em;
  /* Default link colour doesn't have enough contrast against $focus-colour */
}
.skiplink:focus,
.skiplink:visited {
  color: #0b0c0c;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

#skiplink-container {
  text-align: center;
  background: #0b0c0c;
}
#skiplink-container div {
  text-align: left;
  margin: 0 auto;
  max-width: 1020px;
}
#skiplink-container .skiplink {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0.75em 0 0 30px;
}

.banner-dangerous:focus,
.multiple-choice [type="checkbox"]:focus + label::before,
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid #61daff;
  outline-offset: 0;
}

.banner-dangerous:focus {
  outline: none;
}

#global-header input[type="search"]:focus {
  outline: 3px solid #61daff;
  /* Focus appears inside the input */
  outline-offset: -2px;
}
#global-header h1 a:focus {
  background-color: transparent;
  outline: none;
}
#global-header a:focus {
}

#global-header .header-wrapper:after,
#global-header .header-wrapper .header-global:after,
#global-header .header-wrapper .header-global .header-logo:after,
#global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after,
#footer .footer-meta:after {
  content: "";
  display: block;
  clear: both;
}

#global-header {
  background-color: #313131;
  width: 100%;
  border-bottom: 6px solid #45c2f0;
}

#global-header .header-wrapper {
  background-color: #313131;
  max-width: 1050px;
  margin: 0 1.5rem;
  padding-bottom: 8px;
  padding: 1rem 0 0.5rem 0;

  @media (min-width: 769px) {
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 0rem;
  }

  @media (min-width: 1020px) {
    margin: 0 auto;
  }
}

#global-header #logo {
  overflow: visible;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#global-header #logo img {
  border-right: 1px solid #a9a9a9;
  margin-right: 2rem;
  padding: 0.25rem 2rem 0.25rem 14px; // 14px is ALZ MAGIC NUMBERS
  height: 7rem;

  @media (min-width: 769px) {
    height: 9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-right: 2rem;
  }
}

#global-header #logo .header-image {
  padding: 0.25rem 1rem 0.25rem 0;
  margin-right: 1rem;
}

#global-header #logo .header-name {
  font-size: 2.5rem;

  @media (min-width: 641px) {
    font-size: 3rem;
  }
}

#global-header #logo .header-badge {
  padding: 4px 8px;
  margin-left: 0.5rem;
  border: solid 2px #fff;
  border-radius: 2em;
  font-size: 1rem;
  vertical-align: super;
  text-transform: capitalize;

  @media (min-width: 641px) {
    font-size: 1.4rem;
  }
}

#global-header #logo:hover,
#global-header #logo:focus {
  text-decoration: none;
  border-bottom-color: white;
}

.product-page-intro {
  @media (min-width: 769px) {
    margin-bottom: 0;
  }
}

#global-header .header-proposition {
  padding-top: 10px;
  @media (min-width: 769px) {
    padding: 2rem 2rem 0 2rem;
  }

  @media (min-width: 1020px) {
    margin-left: 1.5rem;
  }
}

#global-header .header-proposition #proposition-name {
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@media (min-width: 641px) {
  #global-header .header-proposition #proposition-name {
    font-size: 24px;
    line-height: 1.25;
  }
}

#global-header .header-proposition a#proposition-name:hover {
  text-decoration: underline;
}

#global-header .header-proposition a#proposition-name:focus {
  color: #0b0c0c;
}

#global-header .header-proposition a.menu {
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  color: white;
  display: block;
  text-decoration: none;
  padding-top: 6px;
}

@media (min-width: 641px) {
  #global-header .header-proposition a.menu {
    font-size: 16px;
    line-height: 1.25;
  }

  .button-container > :first-child {
    margin-bottom: 0rem;
  }
}

@media (min-width: 769px) {
  #global-header .header-proposition a.menu {
    display: none;
  }
}

#global-header .header-proposition a.menu:hover {
  text-decoration: underline;
}

#global-header .header-proposition a.menu:after {
  display: inline-block;
  font-size: 8px;
  height: 8px;
  padding-left: 5px;
  vertical-align: middle;
  content: " \25BC";
}
#global-header .header-proposition a.menu.js-hidden:after {
  content: " \25B2";
}

#open-navigation {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;

  &:visited {
    color: #fff;
  }

  img {
    margin-left: 0.6rem;
  }

  @media (min-width: 769px) {
    display: none;
  }
}

#close-navigation {
  text-decoration: none;
  color: #fff;

  &:visited {
    color: #fff;
  }

  img {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 769px) {
    display: none;
  }
}

#global-header .header-proposition #proposition-menu {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  background: #313131;
  z-index: 5;
  text-align: center;
  list-style: none;
  padding-top: 20px;

  & li {
    list-style: none;
  }

  &:not(:target) {
    right: -100%;
    transition: right 0.5s;
  }

  &:target {
    right: 0;
    transition: right 0.5s;
  }

  @media (min-width: 769px) {
    padding: 0.8rem 0;

    flex-wrap: none;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: initial;
    height: initial;
    top: initial;
    width: initial;
    background: initial;
    &:not(:target) {
      right: initial;
      transition: initial;
    }
    &:target {
      right: initial;
      transition: initial;
    }
  }
}

#global-header .header-proposition #proposition-menu .signin-signout {
  flex-basis: 100%;

  @media (min-width: 769px) {
    flex-basis: auto;
  }
}

#global-header .header-proposition #proposition-links li.nav--active a {
  color: #2b8cc4;
}

#global-header .header-proposition #proposition-menu.no-proposition-name {
  @media (min-width: 769px) {
    margin-top: 37px;
  }
}

#global-header .header-proposition #proposition-links li.nav--active {
  @media (min-width: 769px) {
    border-bottom: 6px solid white;
    margin-bottom: -14px;

    & a {
      color: #fff;
    }
  }
}

#global-header .header-proposition #proposition-link,
#global-header .header-proposition #proposition-links {
}

.js-enabled #global-header .header-proposition #proposition-link,
.js-enabled #global-header .header-proposition #proposition-links {
  /* display: none; */
}
@media (min-width: 769px) {
  .js-enabled #global-header .header-proposition #proposition-link,
  .js-enabled #global-header .header-proposition #proposition-links {
    display: flex;
  }
}

.js-enabled #global-header .header-proposition #proposition-link.js-visible,
.js-enabled #global-header .header-proposition #proposition-links.js-visible {
  display: block;
}

#global-header .header-proposition #proposition-link li,
#global-header .header-proposition #proposition-links li {
  padding: 3px 1.5rem;
  border-bottom: 1px solid #2e3133;
}

@media (min-width: 769px) {
  #global-header .header-proposition #proposition-link li,
  #global-header .header-proposition #proposition-links li {
    display: block;
    width: auto;
    padding: 1rem 1.5rem;
  }
}

#global-header .header-proposition #proposition-menu a,
#global-header .header-proposition #proposition-link a,
#global-header .header-proposition #proposition-links a {
  color: white;
  text-decoration: none;
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1.25;
}
@media (min-width: 641px) {
  #global-header .header-proposition #proposition-menu a,
  #global-header .header-proposition #proposition-link a,
  #global-header .header-proposition #proposition-links a {
    font-size: 14px;
    line-height: 1.42857;
  }
}

@media (min-width: 769px) {
  #global-header .header-proposition #proposition-menu a,
  #global-header .header-proposition #proposition-link a,
  #global-header .header-proposition #proposition-links a {
    // font-family: 'nta', Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    line-height: 23px;
  }
}

@media (min-width: 769px) and (min-width: 641px) {
  #global-header .header-proposition #proposition-menu a,
  #global-header .header-proposition #proposition-link a,
  #global-header .header-proposition #proposition-links a {
    font-size: 16px;
    line-height: 1.25;
  }
}

#global-header .header-proposition #proposition-menu a:hover,
#global-header .header-proposition #proposition-link a:hover,
#global-header .header-proposition #proposition-links a:hover {
  text-decoration: underline;
}

#global-header .header-proposition #proposition-menu a.active,
#global-header .header-proposition #proposition-link a.active,
#global-header .header-proposition #proposition-links a.active {
  color: #1d8feb;
}

#global-header .header-proposition #proposition-menu a:focus,
#global-header .header-proposition #proposition-link a:focus,
#global-header .header-proposition #proposition-links a:focus {
  color: #0b0c0c;
}

.js-enabled #global-header .header-proposition #proposition-link {
  display: block;
}

/* Global cookie message */
.js-enabled #global-cookie-message {
  display: none;
  /* shown with JS, always on for non-JS */
}

#global-cookie-message {
  width: 100%;
  background-color: #d5e8f3;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Global footer */
#footer {
  background-color: #313131;
  color: white;
  border-top: 1px solid #a1acb2;
}
#footer .footer-wrapper {
  max-width: 1020px;
  margin: 0;
  padding-top: 20px;

  @media (min-width: 641px) {
    padding-top: 4rem;
    margin: 0;
  }

  @media (min-width: 1020px) {
    margin: 0 auto;
  }
}

#footer .footer-wrapper .footer-categories {
  padding: 0 1.5rem;
}

#footer .footer-wrapper .footer-categories-wrapper {
  padding-bottom: 2.5rem;
  margin-bottom: 0;

  @media (min-width: 641px) {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 769px) {
    margin-left: 0.5rem;
  }
}

#footer a {
  color: white;
}

#footer a:hover {
  text-decoration: none;
}

#footer h2 {
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  color: #0b0c0c;
  margin: 0;
}
@media (min-width: 641px) {
  #footer h2 {
    font-size: 24px;
    line-height: 1.25;
  }
}
#footer h2 a {
  color: inherit;
}
#footer .footer-meta {
  padding-bottom: 2rem;
  clear: both;
  font-size: 0;
}
#footer .footer-meta .footer-meta-inner {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner {
    width: 75%;
  }
}
#footer .footer-meta .footer-meta-inner ul {
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  list-style: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner ul {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner ul {
    margin: 0 0 1em 0;
  }
}
#footer .footer-meta .footer-meta-inner ul li {
  display: inline-block;
  margin: 0 15px 0 0;
}
#footer .footer-meta .footer-meta-inner .open-government-licence {
  clear: left;
  position: relative;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence {
    padding-left: 53px;
  }
}
#footer .footer-meta .footer-meta-inner .open-government-licence .logo {
  margin-bottom: 1em;
  padding-top: 0;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 100%;
  }
}

#footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
  display: block;
  width: 41px;
  height: 17px;
  overflow: hidden;
  text-indent: -999em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 20 / 10),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  #footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
    background-image: url(images/open-government-licence_2x.png?0.23.0);
    background-size: 41px 17px;
  }
}
#footer .footer-meta .footer-meta-inner .open-government-licence p {
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin: 0;
  padding-top: 0.1em;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence p {
    font-size: 16px;
    line-height: 1.25;
  }
}
#footer .footer-meta .copyright {
  // font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin: 30px 0 0 0;
  width: 100%;
  display: block;
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright {
    display: inline-block;
    text-align: inherit;
    width: 25%;
    padding-top: 15px;
    margin-top: 0;
  }
}
#footer .footer-meta .copyright a {
  display: block;
  background-image: url(images/govuk-crest.png?0.23.0);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  text-align: center;
  text-decoration: none;
  padding: 115px 0 0 0;
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright a {
    background-position: 100% 0%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 20 / 10),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  #footer .footer-meta .copyright a {
    background-image: url(images/govuk-crest-2x.png?0.23.0);
    background-size: 125px 102px;
  }
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright a {
    text-align: right;
  }
}
