  </head>
  <body>
    <div id="logo"></div>
    <div id="to">
      <div id="mdi">
        000_000_0000000_000000_0000_00000
      </div>
      {{ address }}
    </div>
    <div id="barcode">
    </div>
    <div id="qrcode">
    </div>
    <div id="from">
      {{ contact_block }}
    </div>
    <div id="content">
      <p>
        {{ date }}
      </p>
      <h1>
        {{ subject }}
      </h1>
      {{ message }}
    </div>
  </body>
</html>
