<style media="print">

  #mdi,
  #barcode,
  #qrcode {
    display: none;
  }

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    font-family: 'Nimbus Sans L';
    font-size: 10pt;
    text-align: right;
    vertical-align: top;
  }

</style>
