html {
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6em;
}

@media screen and (min-width: 64em) {
  body {
    /*
    font-size: 1.8em;
      */
  }
}

pre {
  font-size: 0.8125em;
}
